services:
  spartamgym:
    build:
      context: .
      dockerfile: Dockerfile.spartamgym
    volumes:
      - ./local/spartamgym:/var/www/html/spartamgym:cached
      - spartamgym-vendor:/var/www/html/spartamgym/vendor

    restart: unless-stopped
    mem_limit: 1024m
    cpus: "1"
    networks:
      - proxy-net

volumes:
  spartamgym-vendor:


networks:
  proxy-net:
    external: true

