
services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    restart: unless-stopped
    mem_limit: 256m
    ports:
      - "80:80"
      - "443:443"
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true
