services: 
  projects:
    build:
      context: .
      dockerfile: Dockerfile.projects
    volumes:
      - ./local/projects:/var/www/html/projects:cached
    restart: unless-stopped
    mem_limit: 1024m
    networks:
      - proxy-net
    #ports:
    #  - 80:80

networks:
  proxy-net:
    external: true