  
services:
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    mem_limit: 1024m
    cpus: "1"
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./local/portainer/data:/data
    restart: unless-stopped
    networks:
      - proxy-net

networks:
  proxy-net:
    external: true