services:
  spartamgym:
    build:
      context: .
      dockerfile: Dockerfile.spartamgym
    volumes:
      - ./local/spartamgym:/var/www/html/spartamgym:cached
    restart: unless-stopped
    mem_limit: 1024m
    networks:
      - proxy-net
    #ports:
    #  - 3000:10000

networks:
  proxy-net:
    external: true